body{
    background-color: black;
}
#btn{
    height: 150px;
    width: 200px;
    color: white;
    background-color: rgb(42, 72, 239);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: 3px;
    margin-left: 20px;
    margin-top: 2100px;
    font-family: 'Michroma', Arial, Helvetica, sans-serif;
}
#button{
    height: 50px;
    width: 100px;
    color: white;
    background-color: rgb(42, 72, 239);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: 3px;
    margin-left: 20px;
    font-family: 'Michroma', Arial, Helvetica, sans-serif;
}
#button:hover{
    background-color: green;
}
