*{
    margin: 0px;
    padding: 0px; 
    font-family: 'Michroma', Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}
#hding{
    color: orange;
    padding: 40px;
    margin-left: 80px;
}
.navbar{
    height: 80px;
    width: 1500px;
    border: 2px solid transparent;
    display: flex;
    justify-content: space-evenly;
}
#crater_heading_one{
     height: 30px;
    width: 120px;
    border: 2px solid transparent;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 20px;
    margin:15px;
    margin-left: 50px;
}

.crater_heading_one{
     margin:5px;
        margin-left: 20px;
        margin-top: 2px;
        font-size: 18px;
        letter-spacing: 5px;
}
#crater_heading_two{
     height: 30px;
    width: 400px;
    border: 2px solid transparent;
    padding: 10px;
    margin: 14px;
    margin-left: 50px;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 15px;
}
.crater_heading_two{
     color: white;
    font-size: 18px;
    margin: 3px;
    text-decoration: none;
    margin-left: 30px;
    letter-spacing: 5px;
    font-weight: 700;
}
#crater_heading_three{
     height: 30px;
    width: 400px;
    border: 2px solid transparent;
    padding: 10px;
    margin: 14px;
    margin-left: 50px;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 15px;
}
.crater_heading_three{
     color: white;
    font-size: 18px;
    margin: 3px;
    text-decoration: none;
    margin-left: 30px;
    letter-spacing: 5px;
    font-weight: 700;
}
#crater_heading_four{
    height: 30px;
    width: 200px;
    border: 2px solid transparent ;
    padding: 10px;
    margin-left: 50px;
    margin-top: 15px;
}
.crater_heading_four{
     color: white;
    font-size: 18px;
    margin: 3px;
    text-decoration: none;
    margin-left: 30px;
    letter-spacing: 5px;
    font-weight: 700;
}

.navbar ul{
    list-style: none;
    display: flex;
}
.logo{
     height: 70px;
  width: 70px;
  border: 2px solid transparent;
  margin: 3px;
  background-image: url("images/team_gravity_logo.jpeg");
  background-size: cover;
}
.mars{
    border: 2px solid transparent;
    height: 930px;
    width: 1510px;
    background-image: url("Mars\ 2.jpg");
    background-size: cover;
    border: none;
    mask-image: linear-gradient(to bottom, rgba(0 , 0 , 0 , 1) , rgba(0 , 0 , 0 , 0));
}
.heading{
    height: 200px;
    width: 200px;
    padding: 150px;
    padding-left: 250px;
    margin-left: 50px;
    margin-top: 10px;
    border: 2px solid transparent;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Michroma', Arial, Helvetica, sans-serif;
    letter-spacing: 20px;
    text-align: center;
    text-decoration: none;
    color: white; 
    padding-left: 70px  ;
    position: relative;
    z-index: 2;
    /* background-size: 400%;
    background-clip: text; */
}
#mission_duration{
    color: white;
    font-size: 22px;
    margin-left: 116px;
}
#crew{
    color: white;
    font-size: 22px;
    margin-left: 116px;
}
#btn{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: orange;
    color: white;
    margin: 50px;
    margin-left: 120px;
}



 .jazero_crater{
    height: 500px;
    width: 1000px;
    border: 2px solid transparent;
    border-radius: 100px;
    /* border-radius:20px; */
   margin: 240px;
   text-align: center;
   align-items: center;
   display: flex;
   justify-content: center;
   background-image: url("images/jazero_crater.jpg");
   background-size: cover;
   border-radius: 10px;
   background-repeat: no-repeat;
   filter: grayscale(100%);
   mask-image: linear-gradient(to bottom, rgba(0 , 0 , 0 , 1) , rgba(0 , 0 , 0 , 0));
} 
#crater{
    color: rgb(225, 219, 219);
    /* font-family:; */
    font-size: 40px;
    position: relative;
    z-index: 1;
    opacity: 1;
}
.jazero_crater:hover{
    filter: blur(0px);
    mask-image: none;
}
